<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Icaaa</title>
	</head>
	<body>
		<main class="max-w-sm bg-white w-screen min-h-screen mx-auto shadow-lg py-20 px-5 flex flex-col items-strech">
			<div class="kotak rounded-lg w-[200px] h-[200px] self-center">
				<img class="w-full h-full rounded-lg" src="https://images.unsplash.com/photo-1625019000546-23e349d2f5cf?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Icaa">
			</div>

			<ul class="mt-10 space-y-3">
				<li>
					<a href="https://www.instagram.com/">
						<div class="kotak font-semibold text-lg text-white tracking-wide rounded-lg w-full bg-teal-800 px-10 py-6">Instagram</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="kotak font-semibold text-lg text-white tracking-wide rounded-lg w-full bg-teal-800 px-10 py-6">Tiktok</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="kotak font-semibold text-lg text-white tracking-wide rounded-lg w-full bg-teal-800 px-10 py-6">Youtube</div>
					</a>
				</li>
			</ul>
		</main>
	</body>
</html>
 